@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f7f8fc;
    color: #141c2c;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

a {
    color: #2762eb;
    text-decoration: none;
}

.container {
    display: flex;
    border-radius: 3px;
    border: 20px solid #dce7ff;
    width: 1000px;
    max-width: 100%;
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
}

form {
    border-right: thin solid #ecf2ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex: 1;
}

.form-control {
    width: 100%;
    margin: 10px 0;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

input:not([type="checkbox"]) {
    background-color: transparent;
    border: 2px solid #ecf2ff;
    border-radius: 3px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px 20px;
    width: 100%;
}

.checkbox-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 5px;
}

.checkbox-container input {
    margin: 0;
    margin-right: 5px;
    margin-top: -5px;
    width: 20px;
}

.checkbox-container label {
    color: #7a7eac;
    font-weight: normal;
}

.checkbox-container a {
    margin-left: auto;
    font-weight: 100;
}

.btn {
    background-color: #141c2c;
    border: 2px solid #141c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    margin: 20px;
    width: 100%;
    border-radius: 3px;
}

.btn img {
    margin-right: 5px;
    width: 20px;
    cursor: pointer;
}

.btn-ghost {
    background-color: transparent;
    border-color: #DAE1F5;
    color: #545D7A;
}

.features {
    flex: 2;
    padding: 40px;
}

.feature {
    padding-left: 30px;
    position: relative;
    margin: 40px 0;
}

.feature i {
    color: #2762eb;
    position: absolute;
    top: 5px;
    left: 0;
}

.feature h3 {
    margin: 0;
}

.feature p {
    font-size: 14px;
    line-height: 1.8;
    margin: 5px 0;
}